@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&family=Charmonman&family=Lobster+Two&family=Offside&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rock+Salt&family=Shalimar&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Roboto:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
/* @import 'node_modules/dragula/dragula'; */
@media (min-width: 1200px) {
}

.high-contrast {
	/* background-size: cover; */
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #7b73e4;
	background: radial-gradient(
			farthest-corner at top,
			#4d4d5c 0%,
			#4e4e55 4%,
			#6a5f99 12.25%,
			rgb(55, 43, 105) 22.25%,
			#182346 50%
		)
		top right/200%;
	justify-content: center;
	align-items: center;
	color: rgb(12, 67, 168);
	font-weight: bold;
	animation: colorChange 10s infinite alternate;
}
/* dragula-specific example page styles
.wrapper {
  display: table;
}
.container {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
.container div,
.gu-mirror {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}
.container div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  margin-bottom: 10px;
}
.container div:last-child {
  margin-bottom: 0;
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.container .ex-moved {
  background-color: #e74c3c;
}
.container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
} */
@keyframes colorChange {
	to {
		background-position: top left;
	}
}
@keyframes move_eye {
	from {
		margin-left: -75%;
	}
	to {
		margin-left: 200%;
	}
}
.scrumFuzzyBubbles {
	font-family: 'Fuzzy Bubbles', cursive;
	font-weight: 700, bold;
	text-shadow: 1px 1px 2px rgb(110, 10, 10), 0 0 25px rgb(195, 73, 185),
		0 0 5px rgb(100, 20, 110);
	color: #6fe4a9;
	font-size: 30px;
}
.scrumFuzzyBubbles2 {
	font-family: 'Fuzzy Bubbles', cursive;
	font-weight: 700;
	font-size: 20px;
	text-shadow: 1px 1px 2px rgb(110, 10, 10), 0 0 25px rgb(195, 73, 185),
		0 0 5px rgb(100, 20, 110);
	color: #bdc6d6;
}

.scrumNunito {
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
	font-size: 25px;
	text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(49, 49, 49),
		0 0 5px rgb(201, 207, 205);
}
.scrumRobotoItl {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	text-shadow: 1px 1px 2px rgb(10, 110, 32), 0 0 25px rgb(73, 195, 114),
		0 0 5px rgb(20, 110, 80);
	color: #1a237e;
}
.scrumRoboto {
	font-family: 'Roboto', sans-serif;
	color: #1a237e;
	font-weight: 900;
}
.scrumRobotoTask {
	font-family: 'Source', sans-serif;
	color: LavenderBlush;
	font-weight: 900;
}

.scrumShadow {
	height: 50px;
	width: 100%;
	background-color: #00b62e;
}
.md-form label {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1rem;
	color: YellowGreen !important;
	cursor: text;
	transition: transform 0.2s ease-out, color 0.2s ease-out;
	transform: translateY(12px);
	transform-origin: 0% 100%;
}
.scrumSource {
	font-family: 'Source Sans 3', sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px 2px rgb(10, 110, 32), 0 0 25px rgb(73, 195, 114),
		0 0 5px rgb(20, 110, 80);
	color: #42d335;
}
.scrumLabel {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: rgb(117, 255, 241);
}
.scrumSubmitBtn {
	background: #fad8d8;
	background-image: radial-gradient(#0059ff, #353674, #3c00ff);
	-webkit-border-radius: 28;
	border-radius: 28px;
}
.scrumDelBtn {
	background: #fad8d8;
	background-image: radial-gradient(#ff0055, #743535, #ff0088);
	-webkit-border-radius: 28;
	border-radius: 28px;
}
.scrumDelBtn:hover {
	background: #1ff8ff42;
	background-image: radial-gradient(to bottom, #ec4c8fd2, #9e5191, #951313);
}
.scrumBtn {
	background: #34ff99;
	background-image: radial-gradient(#1f1c4b, #2a2cb8e8, #032a74);
	-webkit-border-radius: 28;
	border-radius: 28px;
}
.scrumSubmitBtn:hover {
	background: #351fff42;
	background-image: radial-gradient(to bottom, #4c71ecd2, #9e5164, #951329);
}

.scrumBtn:hover {
	background: #c4a4d6;
	background-image: linear-gradient(to bottom, #4b3ba5, #2d2c74, #17173f);
}

.scrumYujiMai {
	font-family: 'Yuji Mai', serif;
	font-size: 60px;
	text-shadow: 1px 1px 2px rgb(218, 255, 95), 0 0 25px rgb(145, 255, 0),
		0 0 5px rgb(205, 255, 87);
	color: #000000;
}

.scrumRockSalt {
	font-family: 'Rock Salt', cursive;
	font-size: 26px;
	text-shadow: 1px 1px 2px rgb(248, 182, 182), 0 0 25px rgb(219, 137, 212),
		0 0 5px rgb(115, 98, 117);
	color: #5ad0ff;
}
.scrumRockError {
	font-family: 'Rock Salt', cursive;
	font-size: 18px;
	text-shadow: 1px 1px 2px rgb(110, 10, 10), 0 0 25px rgb(73, 195, 189),
		0 0 5px rgb(20, 110, 47);
	color: #ff0303;
}
.scrumRockErrorBig {
	font-family: 'Rock Salt', cursive;
	font-size: 70px;
	text-shadow: 3px 3px 2px rgb(110, 10, 10), 0 0 25px rgb(73, 195, 189),
		0 0 5px rgb(20, 110, 47);
	color: #ff0303;
}

.scrumMonoton {
	font-family: 'Monoton', cursive;
	text-shadow: 1px 1px 2px rgb(238, 107, 205), 0 0 25px rgb(189, 47, 202),
		0 0 5px rgb(198, 77, 202);
	color: #000000;
}
.scrumCharmon {
	font-family: 'Charmonman', cursive;
	font-size: 70px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px rgb(110, 47, 122), 0 0 25px rgb(198, 62, 240),
		0 0 5px rgb(2, 6, 7);
}
.scrumLobster {
	font-family: 'Lobster Two', cursive;
	color: #4c327c !important;
	text-shadow: 1px 1px 2px rgb(107, 238, 157), 0 0 25px rgb(47, 202, 137),
		0 0 5px rgb(37, 77, 37);
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
	font-family: 'Offside', cursive !important;
	font-weight: 400;
	color: red !important;
	border-top-color: limegreen !important;
	border-top-style: groove !important;
	border-top-width: 1px;
	border-right-color: limegreen !important;
	border-right-style: groove !important;
	border-right-width: 1px;
	border-bottom-color: limegreen !important;
	border-bottom-style: groove !important;
	border-bottom-width: 1px;
	border-left-color: limegreen !important;
	border-left-style: groove !important;
	border-left-width: 1px;
	/* background: rebeccapurple !important;  */
}
.scrumOffside {
	font-family: 'Offside', cursive;
	color: #00ffff !important;
	font-weight: bolder;
}
.scrumOffsideError {
	font-family: 'Offside', cursive;
	font-size: 18px;
	text-shadow: 1px 1px 2px rgb(110, 10, 10), 0 0 25px rgb(73, 195, 189),
		0 0 5px rgb(20, 110, 47);
	color: #ff0303;
}
.scrumBioRhyme {
	font-family: 'BioRhyme', serif;
	color: aqua;
}
.scrumBioRhymeError {
	font-family: 'BioRhyme', serif;
	font-size: 18px;
	text-shadow: 1px 1px 2px rgb(110, 10, 10), 0 0 25px rgb(73, 195, 189),
		0 0 5px rgb(20, 110, 47);
	color: #ff0303;
}
.scrumShalimar {
	font-family: 'Shalimar', cursive;
	font-weight: 900;
	color: #3b033d;
}

img {
	object-fit: cover;
}

.navbar {
	background-color: #3b536dbe;
}
.fa.fa-edit {
	color: #18a2b9;
}
.list-group-item.background {
	color: rgb(63, 60, 60) !important;
}
.list-group-item.delete:hover {
	cursor: -webkit-grab;
	background-color: #b53fa5 !important;
}

.list-group-item.update:hover {
	cursor: -webkit-grab;
	background-color: #4a148c I !important;
}

.list-group-item.board:hover {
	cursor: -webkit-grab;
	background-color: #6f71e6 !important;
}
.list-group-item.projectScrum {
	background-color: rosybrown !important;
}
.list-group-item.update {
	background-color: lightseagreen !important;
}
.list-group-item.delete {
	background-color: #ff6262ca !important;
}
.fa.fa-minus-circle {
	color: #f50057;
}
.register {
	position: relative;
	/* background: url("../img/showcase.jpg") no-repeat; */
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
}
.addProject {
	position: sticky;
	/* background: url("../img/showcase.jpg") no-repeat; */
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
}
.projectBoard {
	position: relative;
	/* background: url("../img/showcase.jpg") no-repeat; */
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
}
.projects {
	position: relative;
	/* background: url("../img/showcase.jpg") no-repeat; */
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
}
.add-PBI {
	position: relative;
	/* background: url("../img/showcase.jpg") no-repeat; */
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
}
.login {
	position: relative;
	/* background: url("../img/showcase.jpg") no-repeat; */
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
}
.landing {
	position: relative;
	/* background: url("../img/showcase.jpg") no-repeat; */
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
}
.landing-inner {
	/* position: absolute; */
	padding-top: 300px;
}
.dark-overlay {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #241c25f6;
	background: radial-gradient(
			farthest-corner at top,
			#1e1c22 0%,
			#120e16 4%,
			#212022 12.25%,
			#2b2431 22.25%,
			#000000 50%
		)
		top right/200% 200%;
	justify-content: center;
	align-items: center;
	color: rgb(0, 0, 0);
	font-weight: bold;
	animation: colorChange 10s infinite alternate;
}
.latest-profiles-img {
	width: 40px;
	height: 40px;
}
.form-control::placeholder {
	color: #bbb !important;
}
.bg-scrummaster {
	background-color: #060a3f9b !important;
}
.bg-scrumProjectBoard {
	background-color: #00ced1 !important;
}
.bg-scrumUpdate {
	background-color: #448aff !important;
}
.bg-scrumDelete {
	background: #fad8d8;
	background-image: radial-gradient(#791b3a, #df366ec4, #8f2649);
}
.bg-scrumlord {
	background-color: #4a148c !important;
}
.bg-scrumButton {
	background-color: #727174cc !important;
}

.latest-profiles-img {
	width: 40px;
	height: 40px;
}
.bg-danger {
	background-image: linear-gradient(#ff0000, #c23535, #ff0062) !important;
}
.bg-primary {
	background-image: linear-gradient(#7d85f6, #3735c2, #0044ff) !important;
}
.bg-info {
	background-image: linear-gradient(#7df6ab, #80c235, #00ff95) !important;
}
.bg-warning {
	background-image: radial-gradient(#8a9900, #8f9938, #fffc49) !important;
}
.bg-light {
	background-image: linear-gradient(#2a2222, #3d3d41, #808185d8) !important;
}
.bg-secondary {
	background-image: linear-gradient(#be9166, #9b8a50, #ff7b00) !important;
}
.scrumMainFont {
	font-weight: normal !important;
	font-family: fantasy !important;
	color: #00ced1 !important;
}
.scrumFancyFont {
	font-family: Brush Script MT, Brush Script Std, cursive !important;
	font-size: 24px;
	color: #b39ddb !important;
}
.whatever {
	color: #5210109a;
}
.scrumAnimateRubberBand {
	animation-name: jackInTheBox;
	/* animation-duration: infinite; */
	-webkit-animation-delay: 2s;
	animation-delay: 0ms;
}
.scrumFlash {
	animation-name: headShake;
}
.card {
	background-image: linear-gradient(#223466, #27266b, #1958ce) !important;
	margin: 7px !important;
	border-radius: 5px !important;

	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2) !important;
}

.card:hover {
	cursor: pointer !important;
}

.card-header {
	padding: 5px 0 0 5px !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.card-body {
	padding: 10px 0 10px 5px !important;
}
